@charset "UTF-8";

/* 全体---------------------------------- */
html {
    font-size: 100%;
}
html,
body{
    scroll-behavior: smooth;
}
body {
    /* font-family:"Noto Sans jp","sans-serif"; */
    font-family: "M PLUS 1p", sans-serif;
    font-size: 16px;
    color: #2C4242;
    background-color: #FDFDFD;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

/* レイアウト--------------------------- */
.wrapper {
    display: block;
    width: min(92%, 980px);
    margin-inline: auto;
}
section {
    padding-block: 3rem;
  }

/* title------------------------------ */
h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}
#top-h2 {
    text-align: start;
    width: 30%;
}

.index-h3 {
    font-size: 1rem;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
}
.title-h3 {
    background-color: #E8E29B;
    padding: 0.6rem;
}
/* header---------------------------- */
nav ul li a,h2 {
    /* font-family: "Krona One"; */
    font-family: "M PLUS 1p", sans-serif;
}
nav ul li a{
    font-size: 1.25rem;
    color: #2C4242;
}
.nav-inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
h1 {
    font-size: 2rem;
    color: #F5F5F0;
    line-height: 0;
    background-color: #5F7F67;
    padding: 0.5rem;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
}

h1 img {
    object-fit: cover;
    height: 3rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.header-img {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    width: 100%;
    border-radius: 2rem;
    margin-top: 2rem;
}
.portfolio-title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    border-radius: 2rem;
    margin: 0 auto;
}
.su {
    font-size: 1.5rem;
}
.nav-pc {
    display: none;
}
/* ハンバーガーメニュー---------------------------------- */
.nav-sp{
    position: fixed;
    inset: 0 -70% 0 100%;
    background-color: rgba(255,255,255,0.92);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: 10;
}

.open .nav-sp{
    transform: translateX(-100%);
    opacity: 1;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
    height: 100%;
}

.ham-btn{
    background-color: #FDFDFD;
    width: 50px;
    height: 50px;
    border: 1px solid #2C4242;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.ham_line{
    display: block;
    width: 30px;
    height: 1px;
    background-color: #432;
    margin: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.open .ham_line{
    background-color: transparent;
}


.ham_line::before,
.ham_line::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #432;
    position: absolute;
    transition: inherit;
}
.ham_line::before{
    top: -8px;
}
.open .ham_line::before{
    transform: rotate(45deg);
    top: 0;
}
.ham_line::after{
    top: 8px;
}
.open .ham_line::after{
    transform: rotate(-45deg);
    top: 0;
}
.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.sub-cover{
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}

/* footer------------------------------------ */
footer {
    background-color: #5F7F67;
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    margin-top: 4rem;
}

/* top-works------------------------------- */
.works {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 2.5rem;
}
.top-h3 {
    font-size: 1.5rem;
    text-align: center;
}
.works-top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.works-top-content {
    color: #F5F5F0;
    background: #5F7F67;
    width: 18.75rem;
    /* max-width: 22.5rem; */
    padding: 1.5rem;
    border-radius: 1.875rem;
}
.works-top-content:hover {
    background: #F5F5F0;
    color: #81a78a;
    border: 1px solid #5F7F67;
    transition-duration: .3s;
}


/* top-about------------------------------------------ */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}
.name {
    text-decoration: underline;
    text-align: center;

}
.about-img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 13.438rem;
    background-color: #81a78a;
    object-fit: cover;
}


/* top-contact------------------------------------------ */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}
.buttn {
    background: #F5F5F0;
    color: #5F7F67;
    border: 1px solid #5F7F67;
    font-size: 1.2rem;
    padding: 10px;
    width: 17.5rem;
    border-radius: 10px;
    text-align: center;
}
.buttn:hover {
    background: #5F7F67;
    color:  #F5F5F0;
    transition-duration: .3s;
}

/* about-------------------------------- */
.profile {
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
}

.about-name {
    text-align: center;
}

.about-name::after {
    content: attr(data-en);
    font-size: 0.9rem;
    line-height: 1.2;
    text-decoration: none;
}

.profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.favorite-inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    align-items: center;
}
.favorite-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.favorite-img {
    width: 12.5rem;
    border-radius: 50%;
}

.about-can {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.can {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.can-title {
    border-bottom: 1px solid #000000;
    width: fit-content;
    margin-bottom: 1.5rem;
}
.can-innner {
    display:flex;
    flex-direction: column;
    align-items: center; 
}
.can-list {
    margin: 0 auto;
}

/* works---------------------------------------- */
#works-body section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#works-body {
    background-color: #ffff;
}

.works-img {
    border: 1px solid #bbbbbb;
    display: block;
    margin: 0 auto;
}

.works-title{
    display: block;
    text-align: center;
    margin: 2rem 0 ;
}
.works-title-s {
    font-size: 1.2rem;
}
.data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4rem;
    border-bottom: 1px dotted #979797;
}
.data-inner {
    display: flex;
    gap: 2rem;
    border-top: 1px dotted #979797;
    padding: 0.5rem 0;

}
.data-inner dt {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.data-inner dd {
    width: 70%;
}

.data-inner dd ul {
    list-style-type: disc;
}
.img-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.works-01 {
    width: 70%;
    height: 70%;
}
.movie {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}
.youtube {
    aspect-ratio: 16/9;
    width: 80%;
    height: 100%;

}
.inst {
    aspect-ratio: 9/16;
    width: 50%;
    height: 50%;
}
/* レスポンシブpc */
@media (min-width:600px) {
    .ham-btn {
    display: none;
    }
   .nav-sp {
    transform: translateX(-100%);
    opacity: 1;
    height: 7%;
    position: fixed;
    padding-block: 2%;
    width: 100%;
    
   }
   .main-nav {
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    margin: 0 auto;
    width: 90%;
    
   }
   h1 {
    position: fixed;
    z-index: 100;
    line-height: 0;
   }
   h1 img {
    object-fit: cover;
    height: 2rem;
   }
   .nav-inner {
    background-color: rgba(255, 255, 255, 0.92);
    padding: 10px;
    margin-top: 0.55rem;
   }
   .page-header {
    height: 3.5rem;
   }
    /* top-------------------------------------- */
    .portfolio-title {
        flex-direction: row;
    }
    .header-img {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 19% 100%);
        width: 80%;
    }
    /* .works-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
        gap: 1rem;
        width: 25%;
        max-width: 1200px;
    } */
    .works-top-content {
        width: 30rem;
    }
 
    /* about------------------------------------ */
    .profile {
        flex-direction: row;
    }
    .profile-inner {
        width: 50%;
    }
    .profile-text{
        width: 50%;
    }

    .can {
        flex-direction: row;
        gap: 5rem;
    }

    .favorite-inner {
        flex-direction: row;
    }

    /* works */
    .movie {
        flex-direction: row;
    }
    .youtube {
        height: 400px;
    
    }
    .inst {
        height: 400px;
    }
    .square {
        width: 50%;
    }
    .b4size {
        width: 50%;
    }
}